.fyrre-magazine {

    border-bottom: 1px solid black;
    padding: 8px 0;
    margin-top: 1rem;

}

.fyrre-magazine > a{
    font-size: 24px;
    font-weight:bolder;
    color: black;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
   

}

nav {
    display: flex;

}
nav > div > img {
    margin: 0 0.25rem;

}



.fyrre-magazine {
    font-size: 24px;
}


a {
    font-size: 18px;
    margin: 0 0.5rem;
    font-weight: 300;
    text-decoration: none; 
    color: black;
}

.footer {
    background: black;
    color: white;
}

.footer-sign-up {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




input {
    border: none;
    padding: 1rem;
    display: block;
    
}


.footer-sign-up > h2 {
    font-size: 4rem;
    
}

.footer-sign-up-box {
    display: flex;
}

.footer-sign-up > button {
    padding: 1rem;
    border: none;
    
}


.footer-nav {
    display: flex;
    padding: 0 3rem;

}

.footer-nav > div  > a {
    text-decoration: none;
    color: white;
    margin-bottom: 1rem;
}

.footer-nav > div{
    display: flex;
    flex-direction: column;
    margin-right: 12rem;

}

.socials {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
}

@media only screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }




    nav > a {
        font-size: 14px;
    }

    .fyrre-magazine > a{
        font-size: 16px;
    
    }

    nav > div > img {
        margin:  0.5rem;
    
    }

    .footer-sign-up {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items:baseline;
        justify-content: space-between;

    }



    .footer-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 1rem;
        justify-content: space-between;
        margin: 2rem 0;

    }
    
    .footer-sign-up > h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
 

    .footer-nav > div{
        display: flex;
        flex-direction: column;
        margin-right: 6rem;
    
    }

    .footer-nav > div > a {
        font-size: 16px;
        width: fit-content;
    }

    .footer-sign-up-box {
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    
    .socials {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
    }


    .socials > div > img  {
        margin-right: 0.5rem;
    }
}