body {
    margin: 0;
}
* {
    font-family: sans-serif;
}

.first-section, .podcasts {
    padding: 0rem 3rem;
}

.mag-post-section > img {
    margin: 2rem 0;
   width: 100%;
}

h1 {
    font-size: 15rem;
    padding: 0;
    margin: 0;
    text-align: center;
}

.news-ticker {
    background: black;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    padding: 1rem;
    padding-right: 0;
    align-items: center;
    justify-content: space-between;
    

}


.podcasts {
    display: flex;
    flex-direction: column;

}

.podcast {
    display: flex; 
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: solid 1px black;
}

.podcast-last {
    border: none;
}

.podcast-subdiv {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    
}

.podcast-subdiv > img {
  margin: 0 2rem;
}

.podcast-subdiv > p {
  margin: 0 2rem;
}



span {
    font-weight: bold;
    margin-right: 0.5rem;
}

.all-podcasts {
    display: flex;
    font-weight:600;
    align-items: center;
}

.all-podcasts > img {
    margin-left: 0.5rem;
}

.all-podcasts {
    display: flex;
    font-weight:600;
    align-items: center;
}


.all-podcasts > a {
    font-weight: bolder;
    font-size: 16px;
}



@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3.5rem;
        padding: 0;
        margin: 1rem 0;
        text-align: center;
    }

    .first-section, .podcasts {
        padding: 0rem 1rem;
    }

    .news-ticker > h3 {
        margin-right: 1rem;
        font-size: 14px;
    

    }

    
    .podcast {
        display: flex; 
        justify-content: space-between;
        padding: 2rem 0;
        border-bottom: solid 1px black;
    }

    .podcast-last {
        border: none;
    }

    .podcast-2 {
        display: flex ;
        flex-direction: column;
    }

    .podcast-subdiv {
        display: flex; 
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }

    .podcast-subdiv > img {
      margin: 0 2rem;
    }


    .podcast-subdiv-2 {
        display: flex;
        flex-direction: row;
    }

    .podcast-subdiv > p {
        margin: 0 2rem;
    }


    .podcast-subdiv > h2 {
       font-size: 18px;
    }


    .news-ticker {
   
        overflow: hidden;
    
    }

    .news-ticker > p {
        font-size: 14px;
    
    }


    span {
       display: inline-block;
    }

    
    .podcast {
        display: flex;
        justify-content: space-evenly;
        padding: 2rem 0;
        border-bottom: solid 1px black;
    }


    .author {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        border: 1px solid black;
    }   

}
  