body {
    margin: 0;
}
* {
    font-family: sans-serif;
}

a {
    
}

.fyrre-magazine {

    border-bottom: 1px solid black;
    padding: 8px 0;
    margin-left: 3rem;
    margin-top: 1rem;

}

.fyrre-magazine > a{
    font-size: 24px;
    font-weight:bolder;
    color: black;
}

.front-page, .podcasts, .authors {
    margin: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


a {
    font-size: 18px;
    margin: 0 0.5rem;
    font-weight: 300;
    text-decoration: none;
}

nav {
    display: flex;

}
nav > div > img {
    margin: 0 0.25rem;

}

h1 {
    font-size: 15rem;
    padding: 0;
    margin: 0;
    text-align: center;
}

.news-ticker {
    background: black;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    padding: 1rem;
    padding-right: 0;
    align-items: center;
    justify-content: space-between;
    

}
.news-ticker > h3 {
    margin: 0;

}
.news-ticker > p {
    font-size: 18px;
    margin: 0;
    font-weight: lighter;

}

.your-eyes {
    display: flex;
    font-size: 16px;
    font-weight: lighter;
    justify-content: space-between;
    padding: 4rem 0;
    
    

}



.your-eyes > div > p {
    line-height: 150%;

}

.your-eyes > h2, .podcasts > div > h2, .all-authors > h2 {
    font-size: 5rem;
    margin: 0;
}

.your-eyes-div {

   width: 50%;

}

.your-eyes-div-subdiv {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px ;

}

.your-eyes-div-subdiv > div {

    justify-self: flex-end;
    background-color: transparent;
    border: 1px solid black;
    font-weight:100;
    font-size: 12px ;
    border-radius: 1rem;
    padding: 0.5rem 1rem;


}

.your-eyes-div-subdiv > p {
    margin-right: 2rem;
}

span {
    font-weight: bold;
    margin-right: 0.5rem;
}

.articles {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 4rem;
}


.articles-list {
    display: flex;
    flex-direction: column;
    width: 70%;
   
}

.article {
    display: flex;
    padding: 2rem 0;
    border-bottom: solid 1px black;


}

.last-article {
    border-bottom: none;
}


.article-img {
    width: 200px;
    height: 200px;
    aspect-ratio: 1 / 1;
    margin-right: 2rem;
}

.article > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.sidebar {
    display: flex;
    flex-direction: column;
    align-items:baseline;

}


.sidebar-btn {
    background-color: black;
    color: white;
    width: min-content;
    padding: 0.8rem 1rem;
    font-size: 12px;
    margin-top: 1rem;

}


.sidebar-magazine {
    display: flex;
    flex-direction: column;
}

.sidebar-magazine > h2 {
   font-size: 2rem;
   margin-top: 0;

}


.sidebar-img {
    width: 300px;
}



.most-popular  {
   margin-top: 4rem;
}
.most-popular-event  {
    display: flex;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 1rem 0;
}



.most-popular-event  > div {
   margin-left: 2rem    ;
}


.most-popular-event  > div  > p{
   font-size: 14px;
}


.newsletter {
    background: #ececec;
    margin-top: 4rem;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;

}



.newsletter > h2 {
    font-size: 26px;
    display: flex;
    flex-direction: column;
}


.newsletter > button {
    background-color: black;
    color: white;
    width: min-content;
    padding: 0.8rem 1rem;
    font-size: 12px;
    margin-top: 1rem;
    text-wrap: nowrap;
}



.newsletter > h2 {
    font-size: 26px;
}


.all-articles {
    padding-top: 4rem;
    display: flex;
    font-weight:600;
    align-items: center;
    
}


.all-podcasts, .all-podcasts-div {
    display: flex;
    font-weight:600;
    align-items: center;
}

.all-podcasts-div > a, .all-podcasts > a {
    font-weight: bold;
}

.podcasts-div {
    display: flex;
    border: 1px solid black;
    margin-top: 4rem;
}


.podcasts > div, .all-authors {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 2rem ;
    margin-top: 4rem;
}

.podcast {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.podcast-2 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.podcast > h3, .author > div > h3 {
   font-size: 26px;
   
}

.podcast > img {
    width: 100%;
}


.author {
    display: flex;
    align-items: center;
    padding: 2rem;
    border: 1px solid black;
}

.authors-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 4rem 0;
    
    
}

.author > div > h3 {
    margin: 0;
}

.author-img {
    margin-right: 2rem;
}



@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3.5rem;
        padding: 0;
        margin: 0 0 1rem 0;
        text-align: center;
    }

    .front-page, .podcasts, .authors {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }

    .fyrre-magazine {
        margin-left: 1rem;
    
    }

    .fyrre-magazine > a{
        font-size: 16px;
    
    }

    .news-ticker > h3 {
        margin-right: 1rem;
        font-size: 14px;
    

    }


    .news-ticker {
   
        overflow: hidden;
    
    }

    .news-ticker > p {
        font-size: 14px;
    
    }

    .your-eyes {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: lighter;
        justify-content: space-between;
        padding: 2rem 0;
        
        
    
    }


    .your-eyes-div {
        width: auto;
 
    }

    span {
       display: inline-block;
    }


    .your-eyes > h2, .podcasts > div > h2, .footer-sign-up > h2, .all-authors > h2 {
        font-size: 2rem;
        margin: 0;
    }
    

    .articles {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .article {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
       
    
    
    }

    .article-img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        margin-right: 2rem;
    }

    .articles-list {

        width: 100%;
       
    }

    .sidebar-img {
        width: 100%;
    }
    
    .newsletter > input {
        box-sizing: border-box;
        width: 100%;
        
    }

    .podcasts-div {
        flex-direction: column;

    }


    .author {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        border: 1px solid black;
    }  

    .podcast-2 {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: none;
        border-right: none;
    }
    

    .podcast > h3, .author > div > h3 {
        font-size: 22px;
        
    }


    .authors-div {
        display: flex;
        flex-direction: column;
    }


    .author {
        display: flex;
        align-items: center;
        padding: 0;
        border: 1px solid black;
    }


    

}
  